@mixin h-flexgrid($cols, $topmargin: var(--unit-large), $columngap: var(--grid-column-gap)) {
    @extend %h-stack;

    @include breakpoint(laptop) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: calc(#{$columngap} / -2);
        margin-right: calc(#{$columngap} / -2);
    }

    > * {
        @include breakpoint(laptop) {
            margin-top: $topmargin;
            flex: 0 0 calc((100% / #{$cols}) - #{$columngap});
            max-width: calc((100% / #{$cols}) - #{$columngap}); // ie11
            margin-left: calc(#{$columngap} / 2);
            margin-right: calc(#{$columngap} / 2);

            &:nth-child(-n + #{$cols}) {
                // First X cards
                margin-top: 0;
            }
        }
    }
}
